.hero___section {
  background-color: var(--hero-bg);
}
.hero__content h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero__content p {
  color: var(--primary-color);
  margin: 20px 0px;
  line-height: 27px;
}

.hero__section p:nth-child(1) {
  font-weight: 500;
}

.shop__btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}
.shop__btn:hover {
  background: #173764;
}

.shop__btn a:hover {
  color: #fff;
}

.timer__count {
  background: var(--primary-color);
  height: 300px;
}
.timer__count img {
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}

.store__btn {
  background-color: #fff;
  color: black;
  font-weight: 600;
}
.store__btn:hover {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 2rem;
  }

  .section__title {
    font-size: 1.7rem;
  }
  .counter__img{
    display: none;
  }
  .clock__top-content{
    text-align: center;
  }
  .clock__top-content h4{
    font-size: .9rem !important;
  }
  .clock__top-content h4{
    font-size: 1rem !important;
  }

  .count__down-col{
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 1.5rem;
  }
  .hero__content p {
    font-size: 0.9rem;
  }

  .shop__btn {
    font-size: 0.9rem;
  }

  .shop__btn a {
    font-size: 0.9rem;
  }
  .section__title{
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .shop__btn {
    width: 100%;
  }
  .hero__content h2 {
    font-size: 1.1rem;
  }
  .hero__content p {
    font-size: 0.9rem;
  }
}
